{:paths ["."]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/test.check {:mvn/version "1.1.0"}
        org.bouncycastle/bcprov-jdk15to18 {:mvn/version "1.66"}}
 :aliases {:test {:extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                          :sha "b6b3193fcc42659d7e46ecd1884a228993441182"}}
                  :main-opts ["-m" "cognitect.test-runner" "-d" "." "-r" ".*"]}
           :patched {:override-deps {org.bouncycastle/bcprov-jdk15to18 {:mvn/version "1.67"}}}
           :v1.65 {:override-deps {org.bouncycastle/bcprov-jdk15to18 {:mvn/version "1.65"}}}
           :v1.64 {:override-deps {org.bouncycastle/bcprov-jdk15to18 {:mvn/version "1.64"}}}}}
